.footer {
	height: 200px;
	width: 100%;
	background: #2067C6;
	display: flex;
	flex-direction: row;
    justify-content: space-around;
	color: #FFFFFF;

	a {
	    text-decoration: none;
    	color: inherit;
	}

	@include medium {
		padding-left: 50px;
		height: auto;
		flex-direction: column;
	}

	@include small {
		padding-left: 20px;
		height: auto;
		flex-direction: column;
	}
}

.footer__newsletterTitle {
	margin-top: 35px;
    font-size: 15px;
}

.footer__fields input {
	height: 10px;
}

.footer__fields input[type=submit] {
	height: 44px;
}

.footer__menu ul{
	display: flex;
    margin: 0;
    padding: 0;

    @include small {
    	flex-direction: column;
    	font-size: 20px;
    }

    li {
    	list-style: none;
    	margin: 35px 40px 35px 0;
    	font-weight: 500;
    }
}

