.headerShop {
	height: 80vh;
	width: 85%;
	margin: 0px auto 70px auto;
	// background-image: url('../../img/background-Shop.png');
	background-size: cover; 
	background-position: center;
	display: flex;
	justify-content: center;
}

.headerShop__title {
	font-size: 40px;
	margin-top: 270px;
	width: 44%;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;

	@include semiMedium {
    	width: 100%;
    }

}
