.homeProgram {
	width: 100%;
	display: flex;
}

.homeProgram__infos {
	display: inline-block;
	width: 50%;
	padding: 60px 140px;

	@include medium {
		padding: 60px 80px;
	}

	@include semiMedium {
		width: 100%;
	}

	@include small {
		padding: 60px 30px;
	}
}

.homeProgram__title {
	color: #0785F2;
	font-size: 23px;
}

.homeProgram__description {
	color: #676767;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 40px;
}

.homeProgram__image {
	background: url('../../img/program-homeBlog.jpg');
	background-size: cover; 
	background-position: center;
	display: inline-block;
	width: 50%;

	@include semiMedium {
		display: none;
	}
}