.newsletterForm {
	display: block;
	width: 700px;
	height: 180px;
	margin: auto;
	background: #F6F8FA;
	position: relative;
	z-index: 10;
	margin-top: -90px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);

	@include semiMedium {
		display: none;
	}
}

.newsletterForm__title {
	text-align: center;
	padding: 40px 0 20px 0;
	font-size: 16px;
}

.newsletterForm__fields {
	width: 550px;
	margin: auto;

	input {
		width: 75%;
		padding: 15px 10px;
		font-family: Gotham;
	}

	input[type=submit] {
		width: 19%;
		border: none;
    	background: #0785F2;
    	color: #FFF;
    	font-size: 15px;
    	cursor: pointer;
    	height: 51.5px;
   		vertical-align: top;
   		border-radius: 4px;
	}
}