.propositions__title {
	text-align: center;
    margin-top: 70px;
    text-transform: uppercase;
    font-size: 40px;

    a {
    	color: #000;
    	text-decoration: none;
    }
}

.proposition__text {
    width: 50%;
    margin: auto;
    font-size: 22px;
    text-align: center;

    @include semiMedium {
        width: 80%;
    }
}

.propositions__choice {
	width: 80%;
    margin: 0px auto 70px auto;
    padding: 30px;
    background-color: aliceblue;
    list-style: none;
    justify-content: space-around;
    display: flex;
    padding: 0;
    cursor: pointer;

    @include semiMedium {
    	flex-direction: column;
    	width: 90%;
    }
}

.proposition {
	font-weight: 500;
	text-transform: uppercase;
	color: #2067c6;

	@include semiMedium {
    	margin: 5px 0;
    }
}

.propositionsList {
	width: 80%;
    margin: auto;

    @include semiMedium {
    	width: 90%;
    }
}

.propositionsList__items {
	margin-top: 150px;

	@include semiMedium {
    	margin-top: 70px;
    	padding: 0;
    }
}

.propositionsList__item {
	list-style: none;
	margin-bottom: 50px;
	font-size: 18px;
	position: relative;

	@include semiMedium {
    	list-style: none;
   	 	margin-bottom: 80px;
    	font-size: 18px;
    	position: relative;
    }
}

.propositionsList__itemTaxo {
	font-weight: 500;
	text-transform: uppercase;
	margin-right: 50px;
	font-size: 13px;

	a {
		text-decoration: none;
		color: #000;
	}
}

.propositionsList__itemTitle {
	position: absolute;
    left: 170px;

    @include semiMedium {
    	left: 0;
    	display: block;
    }
}