.reservation__title {
	width: 80%;
    margin: 40px auto;
}

.reservation {
	display: flex;
    width: 80%;
    margin: 40px auto;
    height: 500px;

    @include semiMedium {
        flex-direction: column;
    }

    form {
    	width: 90%;
    	margin-left: 5%;	

        @include semiMedium {
            margin-left: 0;
        }
    }

    input[type=submit] {
        width: auto;
    }
}