.reservation__title {
	width: 80%;
    margin: 40px auto;
}

.reservation {
	display: flex;
    width: 80%;
    margin: 40px auto;
    height: 700px;

    @include semiMedium {
        flex-direction: column;
    }

    .nf-form-cont {
    	width: 90%;
    	margin-left: 5%;	
    }

    input[type=submit] {
        width: auto;
    }
}