.button {
	background: #0785F2;
	width: 135px;
	height: 45px;
	display: flex;
	align-items: center;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
	color: #FFF;
	transform: scale(1);
   	transition: color ease-in 0.2s;	

	span {
		text-transform: uppercase;
		width: 100%;
		font-weight: 500;
	}

	&:hover {
		background: #FFF;
		color: #0785F2;
    	transition: color ease-in 0.2s;	
	}
}