.donationFormMin {
	width: 50%;
	height: 250px;
	background: #202A51;
}

.donationFormMin__container {
	width: 100%;
	margin: auto;
	color: #FFF;
	display: flex;
    flex-direction: column;

	@include medium {
		width: 60%;
	}

	@include semiMedium {
		width: 95%;
	}
}

.donationFormMin__title {
	height: 100%;
	margin: 40px 0;
	font-size: 25px;

	@include semiMedium {
		font-size: 16px;
		padding-top: 4px;
	}
}

.donationFormMin__amounts {
	width: 100%;
	padding: 0;
	list-style: none;
	margin: 40px 0;
	font-weight: 500;
	font-size: 19px;
	display: flex;
	justify-content: space-between;

	@include semiMedium {
		width: 60%;
	}
}

.donationFormMin__amount {
	display: inline-block;
	background: #0785F2;
	border-radius: 5%;
	text-align: center;
	padding: 6px 10px;
	cursor: pointer;
}