input {
    padding: 15px 10px;
    font-family: Gotham;
    color: #FFF;
    background: #0785F2;
    transition: color ease-in 0.2s; 

    &:hover {
        background: #FFF;
        color: #0785F2;
        transition: color ease-in 0.2s; 
    }
}

input[type=submit] {
    border: none;
    background: #0785F2;
    color: #FFF;
    font-size: 15px;
    cursor: pointer;
    height: 51.5px;
    vertical-align: top;
    border-radius: 4px;
}