.socials {
	background: url('../../img/background-socials.png');
	background-size: cover; 
	background-position: center;
	height: 210px;
	display: flex;
	flex-direction: row;
    align-items: center;

    @include medium {
		flex-direction: row;
		height: auto;
	}
}

.socials__title {
	font-size: 24px;
	color: #FFFFFF;
	width: 30%;
	margin: 180px;

	@include medium {
		margin: 70px 80px;
		text-align: center;
	}

	@include semiMedium {
		display: none;
	}
}

.widget.social-icons-widget {
	list-style: none;

	ul {
		list-style: none;
		padding: 0;
	}

}