.tweets {
	width: 60%;
    margin: auto;

    @include medium {
    	width: 80%;
    }

    li {
    	list-style: none;
    }

    .ctf-tweet-text{
    	font-family: Helvetica;
    	font-style: 14px;
    	color: #292F33;
    }

    .ctf-more{
		text-decoration: none;
		color: #ABB8C2;
		font-style: 13px;
		font-family: Helvetica;
    }
}
